# Ignore most .files
.*
!.github
!.gitignore
!.releaserc.yml

# No pycache
*/__pycache__/*
/__pycache__/*
*.pyc

# Log files from operating software
do-calculus/logs/

# Config file is generated on run
*config.*

*.egg*

# results from building package
build/*
dist/*

