# Ignore .files except the gitignore itself
.*
!.github
!.gitignore

# No pycache
*/__pycache__/*
/__pycache__/*
*.pyc

# Log files from operating software
src/logs/

# Config file is generated on run
src/config/config.json
