.backdoorButtons {

  .buttonHeader {

    display: flex;
    flex-direction: column;

    .setContainer {

      display: flex;
      flex-direction: row;

      height: 40px;

      outline: 1px solid black;
      margin: 4px;
      padding: 3px;

      .setItems {

        display: flex;
        flex-direction: row;
        justify-content: start;

        flex-grow: 1;

        p {

          width: max-content;

          margin: 3px;
          padding: 3px;

          outline: 1px solid black;

        }
      }

      button {

        flex-grow: 0;

      }
    }
  }
}