#backdoorPathContainer {

  margin: 0;

  display: flex;
  flex-direction: column;

  .topContainer {

    flex-grow: 0;
    display: flex;
    flex-direction: row;

    .backdoorButtons {
      width: calc(40% - 10px);
      box-sizing: border-box;
    }

    .backdoorGraph {
      width: calc(60% - 10px);
      box-sizing: border-box;
    }
  }

  .bottomContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .z_sets {
      width: calc(60% - 10px);
      box-sizing: border-box;
    }

    .backdoorOutput {
      width: calc(40% - 10px);
      box-sizing: border-box;
    }
  }




}