#backdoorPathContainer {

  margin: 0;

  display: flex;
  flex-direction: column;

  .topContainer {

    flex-grow: 0;
    display: flex;
    flex-direction: row;

    .backdoorButtons {
      flex-grow: 2;
    }

    .backdoorGraph {
      flex-grow: 3;
    }
  }

  .bottomContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .z_sets {
      flex-grow: 3;
    }

    .backdoorOutput {
      flex-grow: 2;
    }
  }




}