#graphDataContainer {

  max-height: 100vh;

  padding: 10px;

  .mainGraphContent {

    display: flex;
    flex-direction: row;

    div {
      overflow-y: auto;
      flex-grow: 1;
    }

    tbody {

      margin: 0 auto;

      th, td {
        margin: 3px auto;
        padding: 3px;
      }

      a {
        color: #1950f3;
        margin: auto 3px;
      }
    }
  }
}