.probabilityQueryContainer {

  display: flex;
  flex-direction: column;

  .mainContent {

    display: flex;
    flex-direction: row;

    height: 60vh;

    div {
      overflow-y: auto;
    }
  }

  .probabilityButtons {

    #queryButton {
      &.disabled {
        background-color: grey;
      }
    }
  }
}