.probabilityQueryContainer {

  .mainContent {

    display: flex;
    flex-direction: row;

  }

  .probabilityButtons {

    #queryButton {
      &.disabled {
        background-color: grey;
      }
    }
  }
}