#probabilityQueryContainer {

  display: flex;
  flex-direction: column;

  .mainContent {

    display: flex;
    flex-direction: row;

    height: 60vh;

    div {
      overflow-y: auto;
    }

    tbody {
      .variable_name {
        text-align: center;
      }
    }

    #probabilityButtonTable {

      button {
        width: 100%;
        margin: auto;
      }

      button.disabled {

          background-color: grey;

      }

      button.selected {

        background-color: #4a96ee;
      }
    }
  }

  .probabilityButtons {

    label {
      display: inline;
    }

    p {
      margin: 0;
      width: fit-content;
      margin-block: 0;
    }

    #queryButton {
      &.disabled {
        background-color: grey;
      }
    }
  }
}