.sidebar {

  display: flex;
  flex-direction: column;

  max-width: 125px;
  min-width: 125px;

  padding: 3px;

  margin-right: 10px;

  a {
    visibility: hidden;

    border: 3px solid black;
    border-radius: 5px;
  }

  .revealed {
    visibility: visible;
  }

  a, img {
    width: 64px;
    height: auto;
  }

  button {

    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: #FFFFFF;
    background-color: #8faaf5;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;

    width: auto;

    // font-family: "Fira Code", sans-serif;
    font-size: 11pt;

    transition: 0.2s;

    &:hover {
      background-color: #96adff;
    }

    &:focus {
      background-color: #3369ff;
    }

    &:active {
      background-color: #2459ee;
    }

    &:last-of-type {
      margin-top: auto;
    }

    .active {
      background-color: #3369ff;
    }
  }

}